{% macro nav_links(user) %}
<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
    {% if not user %}
    <li><a href="{{ url_for('login') }}">Login</a></li>
    <li><a href="{{ url_for('register') }}">Register</a></li>
    {% endif %}
    {% if user and user['is_admin'] == 0 and user['is_expert'] == 0 %}
    <li><a href="{{ url_for('ask') }}">Ask Question</a></li>
    {% endif %}
    {% if user and user['is_expert'] == 1 %}
    <li><a href="{{ url_for('unanswered') }}">Answer Questions</a></li>
    {% endif %}
    {% if user and user['is_admin'] == 1 %}
    <li><a href="{{ url_for('users') }}">User Setup</a></li>
    {% endif %}
    {% if user %}
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
    {% endif %}
  </ul>
</div><!--/.nav-collapse -->
{% endmacro %}
